{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    },
    "requireConfigFile": false,
    "ecmaVersion": 2023,
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "rules": {
    "no-unused-vars": "warn",
    "sort-keys": "warn"
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
  
}
